{% load static i18n %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
         <!-- Favicons -->
        <link href="{% static 'images/favicon.ico' %}" rel="icon">

        {% block head %}
        {% endblock head %}

    </head>
    <body>
        {% block content %}
        {% endblock content %}

        {% block js %}
        {% endblock js %}

    </body>
</html>